.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}